form {
    color: red;
}
table {
    color: rgb(204, 252, 30);
}
*{
    text-align: center;
}
body { background-color: rgb(72, 189, 88);
background-image: url(images/backof.jpg);}
textarea {background-color: palegoldenrod;}
ol {color: rgb(204, 252, 30);}
b {color: wheat;}
textarea ~p {color:white;}
form ~input {color: tomato;}