
html, body{ 
    font: 14px sans-serif;
    width: 100%;
    background: linear-gradient(0.25turn, rgb(113, 57, 116), rgb(101, 129, 187)); color: rgb(230, 146, 21);
}
    .container {
        margin: auto;
        height: 600px;
        max-width: max-content;
        display: flex;
        
          
    }
    .container > div {
        
        font-size: 22px;
        float: left;
        border-right: 1px solid rgb(210, 245, 113);
        background: rgba(58, 58, 58, 0.226);
    }
    .rap2 {
        overflow-y: hidden;    
        height: 540px;
        margin-right: 20px;
        margin-left: 0px;
        width: 33.3%;
    }
    .wrapper{ 
        border-radius: 10px;
        width: 33.3%;
        padding: 20px;
    background-color: lightblue;
    border-style: solid;}
    
    #p1 {
        color: steelblue ;
    }
    @media only screen and (max-width:488px){
        .container{
            flex-direction: column;
        }
        .wrapper{
            width: max-content;
        }
        .rap2{
            width: 100%;
        }
    }